    <div data-bs-interval="4000" data-bs-ride="carousel">
      <div class="carousel-item active" style="background-image: url(https://images.unsplash.com/photo-1458253756247-1e4ed949191b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMGZvb2QlMjBwaG90b2dyYXBoeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80.jpg);">
        <div id="main">
        <nav>
          <a [routerLink]="['']" class="title">TechieEats</a>
        </nav>
        <div class="welcome">
        <h1>Welcome</h1><br>
        <p>Just  eat  and  forget  everything  else . . .</p><br>
        <a [routerLink]="['CustomerLogin']">Customer</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a [routerLink]="['VendorLogin']">Vendor</a>
        </div>
        </div>     
      </div>
      <div class="carousel-item" style="background: url(https://s1.1zoom.me/big0/98/Strawberry_Black_background_Bowl_580553_1280x853.jpg);">
        <div id="main">
          <nav>
            <a [routerLink]="['']" class="title">TechieEats</a>
          </nav>
          <div class="welcome">
            <h1>Welcome</h1><br>
            <p>Just  eat  and  forget  everything  else . . .</p><br>
            <a [routerLink]="['CustomerLogin']">Customer</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a [routerLink]="['VendorLogin']">Vendor</a>
          </div>
        </div> 
      </div>
      <div class="carousel-item " style="background: url(https://s1.1zoom.me/big0/591/Still-life_Vegetables_Cheese_Wine_Pepper_Tomatoes_529166_1280x896.jpg);">
        <div id="main">
          <nav>
            <a [routerLink]="['']" class="title">TechieEats</a>
          </nav>
          <div class="welcome">
            <h1>Welcome</h1><br>
            <p>Just  eat  and  forget  everything  else . . .</p><br>
            <a [routerLink]="['CustomerLogin']">Customer</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a [routerLink]="['VendorLogin']">Vendor</a>
          </div>
        </div>
      </div>
  </div>

