input[type = text],input[type = number],input[type = date],select{
    margin-left: 40%;
	border-radius:10px;
    height:35px;
	width:300px;
	background-color:black;
	border-color:#cc00cc;
	color:white;
	text-align: center; 
}

input[type = text]:hover,input[type = number]:hover,input[type = date]:hover,select:hover{
	border-color:#00cc66;
}

 button{
   background: none;
	border-color:#cc00cc;
	height:40px;
	width:100px;
	border-radius:10px;	
   color: white;
   font-style: italic;
}

button:hover{
	background-color:#00cc66;
	width:100px;
	font-size:20px;
   border-color:#00cc66;
   color: black;
}